<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Playing with Maps API</title>
    <script src="/static/maps.js"></script>

    <style>
        #map {
            width: 100%;
            height: 600px;
        }

    </style>

</head>
<body>
    <h1>Some nice title</h1>
    <div id="map"></div>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdeEbc5m6P5em_LlQ92oxsufsCU5hNadE&callback=initMap"
            type="text/javascript"></script>
    <h2>Some text below</h2> <input type="button" onclick="drawMapMarkers(mapMarkers)" value="Draw some markers">
</body>
</html>